<div class="main-container">
    <section>
        <img src="../../../assets/home8.jpg" alt="home">
    </section>
    <section class="second-container">
        <h1>About Us</h1>
    </section>
    <section class="cards-container">
        <mat-card class="example-card">
            <img mat-card-image src="../../../assets/home3.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia amet quas eos eum provident vel eius tempora corrupti eveniet, distinctio ut ratione aspernatur, odio accusamus quae quaerat vitae adipisci quos!
              </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <img mat-card-image src="../../../assets/home5.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia amet quas eos eum provident vel eius tempora corrupti eveniet, distinctio ut ratione aspernatur, odio accusamus quae quaerat vitae adipisci quos!
              </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <img mat-card-image src="../../../assets/home4.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia amet quas eos eum provident vel eius tempora corrupti eveniet, distinctio ut ratione aspernatur, odio accusamus quae quaerat vitae adipisci quos!
              </p>
            </mat-card-content>
        </mat-card>
    </section>
</div>
