
<div class="jobs-card-container">
    @for (job of jobs; track job) {
        <div class="job-card-container">
            <div class="company-img-container">
                <img [src]="imgSrc" alt="" class="company-img">
            </div>
           
                <div class="other-job-info-container">
                    <p>{{job.title}}</p>
                    <p>{{companyName}}</p>
                    <p>{{job.cityName}}, {{job.countryName}} ({{job.jobType}})</p>
                </div>
                <div class="edit-delete-icons">
                    <mat-icon>edit</mat-icon>
                    <mat-icon>delete</mat-icon>
                </div>
        </div>
    }
</div>