
<div class="jobs-card-container">
    <div class="job-card-container">
        <div class="company-img-container">
            <img src="https://media.licdn.com/dms/image/D4E0BAQG0op6GSZa1PQ/company-logo_200_200/0/1694246237575?e=1715212800&v=beta&t=IEmLntq5vXyq1fBNUEIKVSTHMgGFOw3ff4Vq5bYdJQU" alt="" class="company-img">
        </div>
        <div class="other-job-info-container">
            <p>Frontend</p>
            <p>Optimum Partners - Amman</p>
            <p>Amman, Jordan (On-site)</p>
        </div>
    </div>
</div>