<div class="page-container">
    <h1>Sign Up</h1>
    <form [formGroup]="registerForm" (ngSubmit)="$event.preventDefault(); submitForm()">
      <mat-form-field>
        <mat-label for="email">Email</mat-label>
        <input matInput name="email" id="email" formControlName="email">
        <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
            <small>
                <mat-error *ngIf="registerForm.get('email')?.hasError('required')">Email is required</mat-error>
            </small>
            <small>
                <mat-error *ngIf="registerForm.get('email')?.hasError('email')">Invalid Email Format</mat-error>
            </small>
        </div>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input matInput name="password" id="password" formControlName="password" type="password">
        <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
            <small>
                <mat-error *ngIf="registerForm.get('password')?.hasError('required')">Password is required</mat-error>
            </small>
            <small>
                <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be 8 characters at least</mat-error>
            </small>
            
        </div>
        
      </mat-form-field>
      <mat-form-field>
        <mat-label for="confirm">Confirm Password</mat-label>
        <input matInput name="confirm" id="confirm" formControlName="confirmPassword" type="password">
        <div *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)">
            <small>
                <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('required')">Password confirmation is required</mat-error>
            </small>
            <small>
                <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('minlength')">Password confirmation must be 8 characters at least</mat-error>
            </small>
            <small>
                <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('invalidPasswordMatching')">Passwords Don't Match</mat-error>
            </small>
        </div>
        <!-- <mat-error *ngIf="registerForm.hasError('passwordDoesntMatch')">Passwords Don't Match</mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select formControlName="roleId" name="role" placeholder="Select Role">
          <mat-option value="1">JobSeeker</mat-option>
          <mat-option value="2">Company</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Sign Up</button>
    </form>
    <a routerLink="/account/login" class="register">Already have an account?</a>
  </div>